## Task Title: ARPU Regression
####Practice to creat effective regression equation/model to estimate Day 28 ARPU

In [ ]:
#Importing libraries to use through analytical steps
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from itertools import chain
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt  # To visualize
from sklearn.metrics import mean_squared_error, r2_score

### Step 1. Reading the dataset as well as cleaning if needed.

In [ ]:
df = pd.read_csv("BI_Lead.csv", header=0)
df.describe()

,Cohort size,ARPU Day 0 in $,ARPU Day 1 in $,ARPU Day 2 in $,ARPU Day 3 in $,ARPU Day 4 in $,ARPU Day 5 in $,ARPU Day 6 in $,ARPU Day 7 in $,ARPU Day 14 in $
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000
mean,1202.687500,0.282412,0.315744,0.335831,0.349806,0.361063,0.369712,0.377694,0.383569,0.411275
std,610.013412,0.028828,0.031983,0.033984,0.034611,0.035592,0.036619,0.037080,0.037282,0.037652
min,408.000000,0.234200,0.262700,0.277100,0.286900,0.296600,0.305900,0.317700,0.322600,0.349700
25%,778.750000,0.267900,0.296125,0.315425,0.330025,0.341025,0.348550,0.355650,0.360800,0.388650
50%,1097.500000,0.283700,0.317600,0.340800,0.353750,0.366050,0.373300,0.379850,0.385100,0.410650
75%,1472.250000,0.294825,0.333850,0.355350,0.371825,0.382425,0.391275,0.400075,0.404425,0.434450
max,2490.000000,0.344000,0.380300,0.402500,0.413100,0.421900,0.432600,0.445800,0.454300,0.484200

### Descriptive Insights
from day 0 to day 14;
- average daily arpu of 1202 users has been increased from 0.28 to 0.41 ~ +46%
- 
-

In [ ]:
df1 = df.loc[:, 'ARPU Day 0 in $':].multiply(df['Cohort size'], axis="index")
df1.columns = ['D{} revenue'.format(x) for x in chain(range(8), range(14,15))]
df1['Total_rev'] = df1.sum(axis=1)
#df1.rename({'D8' : 'LTV Day 14'})
df1 = df.join(df1)
df1.to_csv('BI_Lead_1.csv')

### Toward Modelling

Calculating Regression Equation: 

$Y = Î± + \beta0*x0 + \beta1*x1+ \beta2*x2+ \beta3*x3+ \beta4*x4+ b\beta5*x5+ + \beta6*x6+ \beta7*x7$

*NOTE*: Where $Y$ is APRU Day 14 and $xi$: APRU Day 0 to Day 7

In [ ]:
X_train = df.iloc[1:8, 2:-1].values  # values converts it into a numpy array
Y_train = df.iloc[1:8, -1].values 
X_test = df.iloc[8:, 2:-1].values 
Y_test = df.iloc[8:, -1].values 
linear_regressor = LinearRegression()  # create object for the class
model= linear_regressor.fit(X_train, Y_train)  # perform linear regression
Y_pred = linear_regressor.predict(X_test)  # make predictions

In [ ]:
# The coefficients
print("Coefficients: \n", model.coef_)
print("interception: \n", model.intercept_)

# The mean squared error
print("Mean squared error: %.2f" % mean_squared_error(Y_test, Y_pred))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(Y_test, Y_pred))

Coefficients:
 [ 0.76833793 -1.36971937  0.16166697 -2.36327349  2.35027178 -0.31780279
 -1.42864605  3.24704901]
interception:
 -0.03375947366183224
Mean squared error: 0.00
Coefficient of determination: 0.77

## ok, cool, this is the equation, let's do something else.